{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="container pt-5">   
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{object.logo}}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ object.code }}</h5>
              <p class="card-text">{{ object.name }}</p>
              <p class="card-text">{{ object.sector }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card text-bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Price</div>
        <div class="card-body">
          <h5 class="card-title">R$ {{object.quotes.last.price}}</h5>
          <p class="card-text"><small class="text-muted">Last updated {{object.quotes.last.created}} </small></p>
        </div>
</section>


{% endblock content %}