{% extends 'base.html' %}

{% load static %}

{% block content %}

<form action="" class="container" method="post">
    {% csrf_token %}
    <fieldset>
        <legend> Follow a new action </legend>
        <div class="mb-3">
            <select class="form-select" name="stock" required id="stock">
                <option value="" selected>---------</option>
                {% for stock in stocks %}
                <option value="{{ stock.id }}">{{ stock.name }}</option>
                {% empty %}
                {% endfor %}
            </select><br>
        </div>

        <label for="min_price" class="form-label">Min Price</label>
        <input class="form-control" name="min_price" required id="min_price"></input><br>

        <label for="max_price" class="form-label">Max Price</label>
        <input class="form-control" name="max_price" required id="max_price"></input><br>

        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>


{% endblock content %}